.photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.photo-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border: none;
  font-size: 24px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 11;
}

.arrow-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.left-arrow {
  left: 20px;
}

.right-arrow {
  right: 20px;
}
