<nav *ngIf="showMenu" class="main-menu">
  <ul>
    <li><a routerLink="/about" routerLinkActive="active">About us</a></li>
    <li>
      <a routerLink="/english-club">English Club</a>
    </li>
    <li><a routerLink="/lectorium">Lectorium</a></li>
    <li>
      <a routerLink="/music-club">Music Club</a>
    </li>
    <li>
      <a routerLink="/psychology-club">Psychology Club</a>
    </li>
    <li><a routerLink="/kids-club">Kids Club</a></li>
    <li>
      <a routerLink="/feedback">All feedbacks</a>
    </li>
    <li>
      <a routerLink="/">Home</a>
    </li>
  </ul>
</nav>
